@model IEnumerable<Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.Models.usuario>

@{
    ViewBag.Title = "Gestión de Usuarios";
}

<div class="wrapper">
    <div class="activitiesForm">
        <header>
            <h1>Usuarios</h1>
            
        </header>
        <main>
            <p>
                @Html.ActionLink("Registrar Nuevo Usuario", "Create")
            </p>
            <table id="example" class="table table-striped" style="width:100%">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.usuario1)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.celular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipo_usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.saldo)
                    </th>
                    <th>Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.usuario1)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.celular)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo_usuario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.saldo)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id_usuario }, new { @class = "btn btn-primary btn-sm" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.id_usuario }, new { @class = "btn btn-warning btn-sm" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.id_usuario }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }

            </table>
        </main>
    </div>
</div>


